html,
body{
    margin: 0;
}

.tutto {
    display: flex;
        flex-direction: row;
        justify-content: flex-start;
}

.artists {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}

.imagen img{
    width: 20rem;
    height: 15rem;
}

@media (max-width: 768px) {
    .tutto {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}